<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397507588473-nbtckorpjue9rospv629q14qaslmllc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397507588473-nbtckorpjue9rospv629q14qaslmllc4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>397507588473-3l272h1o6a1los5q2kf1je1bia58bdfm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTzdD2oZVen6HH2k6N5w1DJChz1M_ockw</string>
	<key>GCM_SENDER_ID</key>
	<string>397507588473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.kpu.Subway</string>
	<key>PROJECT_ID</key>
	<string>aaaa-7e366</string>
	<key>STORAGE_BUCKET</key>
	<string>aaaa-7e366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397507588473:ios:044a539dc60d00c4</string>
	<key>DATABASE_URL</key>
	<string>https://aaaa-7e366.firebaseio.com</string>
</dict>
</plist>